<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataAnnotationsExtensions" version="0.3.0.0" />
  <package id="WebActivator" version="1.1.0.0" />
  <package id="DataAnnotationsExtensions.MVC3" version="0.3.0.0" />
  <package id="structuremap" version="2.6.2" />
  <package id="StructureMap-MVC3" version="1.0.5" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="MvcContrib.Mvc3-ci" version="3.0.60.0" />
  <package id="T4MVC" version="2.6.44" />
  <package id="MvcContrib.Mvc3.FluentHtml-ci" version="3.0.60.0" />
  <package id="elmah" version="1.1" />
</packages>